version: "3.8"

services:
  consul:
    image: hashicorp/consul:1.19
    container_name: consul-dev
    ports:
      - "8500:8500"   # Web UI
      - "8600:8600/udp" # DNS interno
      - "8300:8300"   # RPC server
      - "8301:8301"   # LAN serf
      - "8302:8302"   # WAN serf
    command: ["agent", "-dev", "-client=0.0.0.0", "-ui"]
    networks:
      - consul-net

networks:
  consul-net:
    driver: bridge
